<?xml version="1.0"?>
<data>
	<service name="station">
		<city>My place</city>
	</service>
	<service name="darksky">
		<api_key>42e2xxxxxxxxxxxxxxxxx0962</api_key>
		<lat>48.991</lat>
		<lng>2.372</lng>
		<units>si</units>
	</service>
	<service name="netatmo">
		<client_id>5501xxxxxxxxxxxxx24e6</client_id>
		<client_secret>EuxxxxxxxxxxxxxxxxxxxxNUWF</client_secret>
		<username>mynetatmo@account.org</username>
		<password>xxxxxx</password>
		<indoor>Indoor</indoor>
		<outdoor>Outdoor</outdoor>
		<raingauge>Pluvio</raingauge>
	</service>
</data>
